body {
  color: #3F544C;
}

.home {
  margin-top: 50px;
}

button {
  text-align: center;
  background-color: #5FD4A8;
  font-size: large;
  padding: 7px 15px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  color: white;
}

button:hover {
  background-color: #265442;
}

.nav {
  display: flex;
  flex-direction: row;
  
}

.nav-link {
  color: white;
  background-color: #5FD4A8;
  height: 50px;
  text-align: center;
  flex-grow: 1;
}

.nav-link:hover {
  background-color: #265442;
}

.nav-text {
  position: relative;
  top: 14px;
}

a{
  text-decoration: none;
}

.home {
  display: flex;
  flex-direction: row;
}

.left-cols {
  width: 67vw;
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 32vw;
  /*flex-grow: 1;*/
}

.add-expense {
  margin-top: 50px;
}

@media (orientation:portrait) {
  .left-cols {
    width: 50vw;
  }

  .col {
    width: 49vw;
  }

  .add-expense {
    margin-top: 0;
  }

  .home {
    margin-top: 5px;
  }
}

.chart-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.balance-button {
  display: block;
  margin: 30px auto;
}

.hidden-form {
  visibility: hidden;
}

.add-expense-div {
  display: block;
  margin: 20px auto;
  width: fit-content;
}

.set-budget {
  display: block;
  margin: auto;
}

.shopping {
  margin-left: 20px;
}

.shopping-lists {
  display: flex;
  flex-wrap: wrap;
}

.shopping-list {
  border: solid;
  border-color: #265442;
  width: 300px;
  margin: 10px;
}

.list-name {
  margin: 10px;
}

.list-items {
  margin: 10px;
}

.item-cost {
  float: right;
}

.add-item {
  margin: 0;
  padding: 0px 5px;
}

.add-list {
  width: 300px;
  align-items: center;
}

.payments-title {
  margin-left: 20px;
}

.payments-item {
  padding: 5px 0px 10px 20px;
  height: 50px;
}

.payments-item:nth-child(even) {
  background-color: rgb(235, 235, 235);
}

.payment-attributes {
  display: flex;
}

.payment-attribute {
  flex-grow: 1;
}

.remove-payment-button {
  float: right;
}